# LLM
LLM_MODEL=anthropic/claude-3-5-sonnet-20241022
ANTHROPIC_API_KEY=

# Alternativas
# LLM_MODEL=deepseek/deepseek-chat
# DEEPSEEK_API_KEY=
# LLM_MODEL=gpt-4o
# OPENAI_API_KEY=

# Telegram
TELEGRAM_TOKEN=
TELEGRAM_ALLOWED_USER=

# Notion MCP
NOTION_API_KEY=

# Git
REPO_PATH=/root/agent-serve
